<%#
 Copyright routers are listed at https://github.com/sirpdboy/poweroffdevice
 Licensed to the public under the Apache License 2.0.
-%>


<%+header%>
<style title="text/css">
h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
}

</style>

<h2 name="content">设备关机</h2>
<p style="margin-top: 0;margin-right: 0;margin-bottom: 1rem;margin-left: 1.5rem;">关闭您正在使用设备的电源</p>
<p class="alert-message warning">警告：对于不支持关机的设备，关机可能会导致重新启动.</p>

<script type="text/javascript">//<![CDATA[
	var tries = 0;
	function ok() {
		window.location = "<%=controller%>/admin";
	}

	function check() {
		if (tries++ < 12)
			window.setTimeout(ping, 5000);
		else
			alert("操作设备无效");
	}

	function ping() {
		var img = document.createElement("img");

		img.onload = ok;
		img.onerror = check;
		img.src = "<%=resource%>/icons/loading.gif?" + Math.random();

		document.getElementById("pw-message").innerHTML ="设备关机完毕!";
	}

	function pw(button) {
		button.style.display = "none";
		document.getElementById("pw-message").parentNode.style.display = "";

		(new XHR()).post("<%=controller%>/admin/system/poweroffdevice/call", { token: "<%=token%>" }, check);
	}
//]]></script>

<input class="cbi-button cbi-button-apply" type="button" value="执行关机" onclick="pw(this)" style="margin-left: 0;"/>

<p class="alert-message" style="display:none">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="pw-message">正在关机...</span>
</p>

<%+footer%>
